{% extends "base2.html.twig" %}

{% block title %}Pig Game{% endblock %}

<div class="container">
    <h1 class="my-4">API Overview</h1>
    <div class="list-group">
        {% for route in routes %}
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ route.route }}</h5>
                    <small>{{ route.method }}</small>
                </div>
                <p class="mb-1">{{ route.description }}</p>
            </a>
        {% endfor %}
    </div>
</div>
